<% provide(:title, 'Contacto')%>
<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">Contáctanos en:</h1>
<div class="center">
  <a>relacionescomerciales@tripod.net.co</a>
  <br/>057+4+4447962
  <br/> Medellín, Colombia

</div>
