<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Notificación Calificación de Servicio</h1>
<p>
  Te notificamos que tu dispositivo: <%=  %>, ha sido calificado negativamente.<br/>
</p>
<p>
  Te invitamos a tomar acción sobre el asunto e igualmente conoce más sobre nuestros servicios de CAPACITACIÓN Y ASESORÍA EN MEJORAMIENTO DE LA CALIDAD DE SERVICIO.
</p>
<p>Buen día!</p>
</body>
</html>