<h2>Considera que el servicio brindado fue</h2>


<form class="center" action="">
  <button type="submit" name="excelente" value="E" class="btn btn-small btn-primary">
    <i class="icon-user icon-white"></i> Excelente</button>
  <button type="submit" name="bueno" value="B" class="btn btn-small btn-primary">
    <i class="icon-user icon-white"></i> Bueno</button>
  <button type="submit" name="regular" value="R" class="btn btn-small btn-primary">
    <i class="icon-user icon-white"></i> Regular</button>
  <button type="submit" name="malo" value="M" class="btn btn-small btn-primary">
    <i class="icon-user icon-white"></i> Malo</button>

</form>
